body{
    background-color: black;
    text-align: center;
}
div{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border:20px solid yellow;
    border-top: 20px solid red;
    animation-name:animate;
    animation-duration: 10s;
    animation-delay: 1s;
    animation-direction: reverse;
    animation-play-state: running;
animation-timing-function: ease-in;
animation-iteration-count: infinite;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
        background-color: azure;
    }
    50%{
        transform: rotate(90deg);
    }
    100%{
transform: rotate(360deg);
    }
}